<div class="navigation_group">
  <div class="sidebar">
    <h1 class='logo'>Bug</h1>
    <div class="line"></div>

    <%# Button will be a link to that will add a new project currently a palceholder %>
    <h3>Projects<button>+</button></h3>

    <%# This area will will display all projects %>
  </div>


  <div class="topbar">
    <%# Hard coded 'admin' which is where the user role will be shown %>
  <h1><span style='color: #7286D3;'>Logged in as: </span>Admin</h1>

  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container-fluid">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <% if user_signed_in? %>
            <li class="nav-item active">
              <%= link_to "Dashboard", "#", class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Tickets", "#", class: "nav-link" %>
            </li>
            <li class="nav-item dropdown">
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Action", "#", class: "dropdown-item" %>
                <%= link_to "Another action", "#", class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  </div>
</div>
